<!DOCTYPE html>
<html>
  <head>
    <script src="js/external_api.js" type="module"></script>
    <script
      src="https://cdn.conversejs.org/8.0.1/dist/converse.min.js"
      type="module"
    ></script>
    <script src="js/bundle.js" type="module"></script>

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://cdn.conversejs.org/8.0.1/dist/converse.min.css"
    />
  </head>

  <body>
    <title>{{ config['PAGE_TITLE'] }}</title>
    <div class="container">
      <div class="app"></div>
    </div>
  </body>
</html>
